@import "./base.less";

.question {
  .q-instruction {
    padding: 1rem 1rem;
    background: #C3FFFF;
  }
  .q-answers {
    background: #FFC3FF;
  }
  .q-answers .answer {
    padding: 0.5rem 0;
  }

  .q-footer {
    padding: 1rem 1rem;
    background: #FFFFC3;
  }
}

